$bg-padrao: #CCC;
$bg-primario: #23232e;
$texto-primario: #b6b6b6;
$bg-secundario: #141418;
$texto-secundario: #ececec;
$cor-icone-menu: #3a86ff;
$texto-vermelho: #d00000;
$bg-blocker: rgba(0, 0, 0, 0.2);